<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <title> Fly on the wings of love</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!--https://stackoverflow.com/questions/8470431/what-is-the-best-way-to-implement-a-forced-page-refresh-using-flask-->
    <script>
      $(document).ready(function(){
          var socket = io.connect('http://' + document.domain + ':' + location.port);
          //listens to 'price update' message on socket    
          socket.on('logger', function(msg) 
          {
            var table = document.getElementById("logTable");
            var arrayLength = msg.length;
            var totalRowCount = table.rows.length;
            for (var i = totalRowCount; i < arrayLength; i++) 
            {
              //create space
              var row = table.insertRow(0);
              var cell_timestamp = row.insertCell(0);
              var cell_command = row.insertCell(1);
              //Style
              cell_timestamp.style.color = "slateblue";
              cell_command.style.color = "seagreen";
              //add row
              cell_timestamp.innerHTML = msg[i][0];
              cell_command.innerHTML = msg[i][1];
            }        
          });
      });
    </script>
  </head>
  <body style="background-color: black;">
    <!-- BAR TOP MAIN -->
    <h1 style="color: whitesmoke; font-family: Consolas; font-size: 300%;">LOG</h1>
    <hr>
    <!-- TABLE -->
    <table id="logTable" style="margin-left: 20px;">
        <!-- table rows -->
        <tr> 
          <td style="color: slateblue; font-family: Consolas; font-size: 100%"></td> 
          <td style="color: seagreen; font-family: Consolas; font-size: 100%"></td> 
        </tr> 
    </table> 
  </body>
</html>

