<!DOCTYPE html>
<html language="en">
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="1" />
<title> Fly on the wings of love</title>
<link rel="icon" type="image/x-icon" href="favicon.png" />
<link rel="icon" type="image/png" href="favicon.png" />
<link rel="stylesheet" href="{{ url_for('static',     filename='css/PressStart2P.css') }}">
<link rel="stylesheet" href="{{ url_for('static',     filename='css/green_on_black.css') }}">
</head>
<body>

<div id="menu_bar">
  <div id="file" class="menu">
    <span class="menu_item">Log</span>
  </div>
</div>

{{ table }}


<script src="js/main.js"></script>
</body>
</html>
